<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/swiper-3.4.1.min.css" rel="stylesheet">
    <link href="public/css/main.css" rel="stylesheet">
</head>
<body>
    <h1>Hello CLI!</h1>
    <script src="public/js/jquery-3.1.1.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/swiper-3.4.1.jquery.min.js"></script>
    <script src="public/js/vue.min.js"></script>
    <script src="public/js/main.js"></script>
</body>
</html>